body{
    background-color: #877979;
    font-family:Cambria, Cochin, Georgia, Times, sans-serif;
    text-align: center;
   background-image: url( icon%2012%20%D9%85%D9%82%D9%84%D9%88%D8%A8-1.png);
    background-size: cover;
    background-attachment: fixed;


}
 table{
    color: #ffffff
}
h1{
    color: #ffffff
}
