body {
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, sans-serif;
  text-align: center;
  background-image: url(end%20-2.png);
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* الهيدر */
header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 80px;
  color: #ff9400;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1500;
  backdrop-filter: blur(6px);
  box-sizing: border-box;
}

header h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}
.left h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #ff9400;
  text-shadow: 0 0 10px #ff9400;
}

/* اللوقو */
.logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1600;
}

.logo {
  width: 40px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
  transition: transform 0.3s ease;
}
.center .logo {
  width: 55px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.5);
  transition: transform 0.3s ease;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center .logo:hover {
  transform: scale(1.05);
}

.logo:hover {
  transform: scale(1.05);
}

/* زر المينيو */
.menu-btn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2001;
  position: relative;
}

.menu-btn:hover {
  background-color: #ff9400;
  color: #000;
}

/* القائمة الجانبية */
.nav-links {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: right 0.4s ease;
  z-index: 2000;
}

.nav-links.active {
  right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ff9400;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
  color: #fff;
  transform: scale(1.1);
}

/* الخلفية عند فتح المنيو */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#overlay.active {
  opacity: 4;
  pointer-events: auto;
}
